html {
  font-size: 6px;
  font-family: Montserrat;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fffdf5;
}

header {
  height: 7vh;
  padding: 0 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.first_page {
  height: 92vh;
}

.check_btn {
  border-radius: 15px;
  padding: 0.7rem 2.4rem;
  background-color: #070707;
  font-weight: 700;
  font-size: 1.5rem;
}

.title {
  width: 50%;
  text-align: end;
  font-size: 9.6rem;
  font-weight: 700;
}

.subtitle {
  width: 50%;
  font-size: 6rem;
  font-weight: 500;
  text-align: end;
}

.bottom_row {
  padding: 2rem 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.scroll_btn {
  font-size: 1.5rem;
  color: black;
  margin-right: 3rem;
}

a.scroll_btn::before {
  content: url(./img/Arrow\ 1.png);
  margin-right: 3px;
}

.photo_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 55vh;
  overflow: hidden;
}

.photo_container img {
  width: 33.1%;
  min-width: 250px;
  /* margin: 4.5rem 0; */
}

/* #img2{
  width: 33.5%;
} */

.about_me {
  display: flex;
  padding: 2rem 5rem;
  background-color: #070707;
  color: #fffdf5;
  height: 20vh;
}

.about_me_text {
  font-size: 4.8rem;
  width: 70%;
  font-family: Inter;
  font-weight: 600;
  padding: 3rem 0;
}

.about_me_title {
  font-size: 2rem;
  font-family: Inter;
  width: 20%;
  padding-left: 4rem;
  padding-top: 2rem;
}

.v_line {
  height: 80%;
  margin: auto 0;
}

.container_pg2 {
  display: flex;
  padding: 2rem 5%;
  height: fit-content;
  margin-top: 5rem;
}

.wid_text_box {
  width: 70%;
  margin: 0 5%;
}

.wid_text_box > div {
  display: flex;
  justify-content: space-between;
}

.row_text {
  width: 40%;
  font-size: 2.4rem;
}

.line4 {
  width: 100%;
  margin: 4rem 0;
}

.what_i_do {
  width: 20%;
  font-size: 2rem;
  padding: 5rem 0 0 3rem;
}

.line3 {
  height: 70%;
}

.row_text > span {
  font-weight: 700;
}

.line7 {
  width: 100%;
}

#mobile_line {
  opacity: 0;
}

.word_line {
  width: 100%;
  display: block;
  overflow: hidden;
  font-size: 6.4rem;
  font-weight: 700;
  margin: 5rem 0;
  text-wrap: nowrap;
}

.container_pg3 {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
}
.card {
  width: 30%;
  text-align: center;
  padding: 1rem 5rem;
}
.card_title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_text {
  font-size: 2rem;
}

#ct1::after {
  background-image: url("./img/creative_icon.png");
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  margin-left: 2rem;
}

#ct2::after {
  background-image: url("./img/visual_icon.png");
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  margin-left: 2rem;
}

#ct3::after {
  background-image: url("./img/technical_icon.png");
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  margin-left: 2rem;
}

.container_pg4 {
  padding: 6rem 5%;
}

.container_pg4 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container_pg4 img {
  width: 32%;
}

footer {
  background-color: #070707;
  padding: 10rem 20rem;
  color: #fffdf5;
}

.footer_title {
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0 0 0;
}

.footer_list img {
  width: 6rem;
  transition: all 0.3s linear;
}

.footer_list img:hover {
  width: 7rem;
}

.work_list_box {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.work_list_row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.hide-menu {
  position: absolute;
  left: -9999px;
}

.portfolio_text > .list_box:not(:last-child) {
  margin-bottom: 1rem;
}

.list_box {
  width: 32%;
}

.list_btn {
  background-color: #070707;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid #070707;
  border-radius: 10px;
  color: white;
}

.task_menu {
  background-color: #070707;
  width: 100%;
  border: 1px solid #070707;
  font-size: 2rem;
  color: white;
  border-top: none;
  display: none;
}
.task_menu > ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.task_menu a {
  display: block;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
}

.open .list_btn {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.open .task_menu {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.task_menu li:hover {
  background-color: white;
  color: #070707;
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 7px;
  }
  header {
    height: 8vh;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 5px;
  }

  .title {
    width: 60%;
    font-size: 9rem;
  }

  .subtitle {
    width: 70%;
    font-size: 6.5rem;
  }

  .location {
    font-size: 3.5rem;
  }

  a.scroll_btn {
    font-size: 3.5rem;
  }

  .photo_container img {
    min-width: 0;
  }

  header {
    height: 10vh;
  }

  .check_btn {
    font-size: 3rem;
    padding: 1rem 2.5rem;
  }

  .first_page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .first_page > div:first-child {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wid_text_box > div {
    flex-direction: column;
  }

  .wid_text_box > div > img {
    height: 1px;
    margin: 4rem 0;
  }

  .row_text {
    width: 100%;
    margin: 0 auto;
    font-size: 4rem;
  }

  .container_pg2 {
    margin: 5rem 0;
  }

  #mobile_line {
    opacity: 1;
    margin-top: 5rem;
  }

  .what_i_do {
    padding: 0;
    margin: auto 0;
    font-size: 4rem;
  }

  .container_pg3 {
    flex-direction: column;
  }

  .container_pg3 > img {
    height: 1px;
    margin: 3rem 0;
  }

  .card {
    width: 100%;
  }

  .card_text {
    font-size: 4rem;
  }

  .card_title {
    font-size: 4.4rem;
  }

  .line7 {
    width: 90%;
    margin: 0 5%;
  }

  .container_pg4 div {
    flex-direction: column;
  }

  .container_pg4 img {
    width: 100%;
    margin: 2rem 0;
  }

  .list_box{
    width: 100%;
  }

  .list_box:not(:last-child){
    margin-bottom: 1rem;
  }

  .list_btn{
    font-size: 4rem;
  }

  .task_menu{
    font-size: 4rem;
  }


}

@media screen and (max-width: 435px) {
  html {
    font-size: 4px;
  }
  .about_me_title {
    font-size: 2.5rem;
  }

  .title {
    font-size: 7rem;
    width: 70%;
  }

  .subtitle {
    width: 75%;
    font-size: 5.5rem;
  }

  header {
    height: 10vh;
  }

  .check_btn {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
  }

  .bottom_row {
    font-size: 3rem;
  }

  a.scroll_btn {
    font-size: 3rem;
  }

  .about_me_text {
    font-size: 4rem;
  }

  .first_page {
    height: 90vh;
  }

  .photo_container img {
    min-width: unset;
    width: 40%;
  }

  .first_page > div:first-child {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about_me {
    height: 20%;
  }

  .photo_container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: unset;
    height: 65%;
  }

  #mobile_line {
    margin: 5rem 5%;
    margin-bottom: 0;
  }

  .row_text {
    font-size: 3.5rem;
  }

  .what_i_do {
    font-size: 3rem;
  }

  .card_text {
    font-size: 3rem;
  }

  .card_title {
    font-size: 3.5rem;
  }

  #ct1::after,
  #ct2::after,
  #ct3::after {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    background-size: 40px 40px;
  }


  .list_btn{
    font-size: 3rem;
  }

  .task_menu{
    font-size: 3rem;
  }
}

@media screen and (max-width: 385px) {
  html {
    font-size: 3px;
  }
  .title {
    font-size: 7rem;
  }

  .subtitle {
    font-size: 5.5rem;
  }

  .photo_container img {
    width: 33%;
  }

  .about_me_text {
    font-size: 3.5rem;
  }

  #ct1::after,
  #ct2::after,
  #ct3::after {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background-size: 30px 30px;
  }
}